pipeline/pl_bronze_silver_data_load.json
{
	"name": "pl_bronze_silver_data_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_bronze_silver_control_tab",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM [', pipeline().parameters.pPlSchemaName,\n         '].[', pipeline().parameters.pPlTableName,\n         '] WHERE Enabled = ''True''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserverTableaParam",
						"type": "DatasetReference",
						"parameters": {
							"pDsServerName": {
								"value": "@pipeline().parameters.pPlServerName",
								"type": "Expression"
							},
							"pDsDatabaseName": {
								"value": "@pipeline().parameters.pPlDatabaseName",
								"type": "Expression"
							},
							"pDsSchemaName": {
								"value": "@pipeline().parameters.pPlSchemaName",
								"type": "Expression"
							},
							"pDsTableName": {
								"value": "@pipeline().parameters.pPlTableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Domain_Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_bronze_silver_control_tab",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_bronze_silver_control_tab').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Notebook_Domain",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/pritivetal51@gmail.com/intellibi_databricks_clintrail/bronze_silver_load/nb_bronze_silver_load",
								"baseParameters": {
									"domain ": "@item().Domain",
									"srcCatalog ": "@item().SrcCatalog",
									"srcTableName": {
										"value": "@item().SrcTableName",
										"type": "Expression"
									},
									" tgtCatalog": "@item().TgtCatalog",
									" tgtSchema": "@item().TgtSchema",
									"tgtTableName": "@item().TgtTableName",
									"businessKey": "@item().BusinessKey"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_clintrial",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pPlServerName": {
				"type": "string",
				"defaultValue": "localhost\\SQLEXPRESS"
			},
			"pPlDatabaseName": {
				"type": "string",
				"defaultValue": "dev_clintrail_edc_src"
			},
			"pPlSchemaName": {
				"type": "string",
				"defaultValue": "edcsrcmetadata"
			},
			"pPlTableName": {
				"type": "string",
				"defaultValue": "srcEdcBronzeToSilverControl"
			}
		},
		"folder": {
			"name": "dev_clintrail/bronze_silver_load"
		},
		"annotations": []
	}
}